
/*----------  CABECERA  ----------*/
.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    display: flex;
    align-items: center;
}

/*----------  PRODUCTOS  ----------*/
.productos__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.productos-card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*----------  FORMULARIO  ----------*/
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario__producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario__campo{
    align-self: flex-start;
}




/*----------  FOOTER  ----------*/
.rodapie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.rodapie__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*=============================================
=            MOVIL            =
=============================================*/

@media (max-width:480px) and (min-width: 320px){

    main{
        display: flex;
        flex-direction: column-reverse;
    }
}


/*=====  End of MOVIL  ======*/

