
/*----------  CABECERA  ----------*/
.cabecera{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*----------  PRODUCTOS  ----------*/
.productos__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.productos-card__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

