
/*----------  Colores de la página  ----------*/
:root{
    --color-fondo: #1A1D23;
    --color-cabecera: #3498DB;
    --color-nombre: #fff;
    --color-precio: #18722D;
    --color-formulario: #216898;
}



/*----------  ESTILOS CABECERA  ----------*/
.cabecera{
    background-color: var(--color-cabecera);
    height: 80px;
}
.cabecera__nombre{
    font-family: "Spicy Rice", serif;
    color: var(--color-nombre);
    font-size: 2.3rem;
}




/*----------  ESTILOS PRODUCTOS  ----------*/
.productos{
    width: 50%;
    margin-left: 10px;
}
.productos__titulo, .formulario__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-nombre);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.productos__contenedor{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc var(--color-fondo);
    box-shadow: -10px 5px 15px rgba(117, 117, 117, 0.2);
}
/* Scrollbar personalizado (para navegadores WebKit) */
.productos__contenedor::-webkit-scrollbar {
    width: 8px;
}
.productos-card {
    width: 200px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid var(--color-nombre);
    overflow: hidden;
    margin: 10px;
}
.productos-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.productos-card__info {
    padding: 15px;
    text-align: center;
}
.productos-card__nombre {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}
.productos-card__precio {
    font-weight: bold;
    color: var(--color-precio);
    font-size: 20px;
}
.productos-card__trash {
    cursor: pointer;
    width: 20px;
}



/*----------  ESTILOS FORMULARIO  ----------*/
.formulario{
    width: 50%;
}

.formulario__producto{
    background-color: var(--color-nombre);
    width: 80%;
    height: 420px;
    border-radius: 15px;
}

.formulario__campo{
    display: block;
    margin-bottom: 5px;
    color: var(--color-formulario);
    font-weight: bold;
    margin-left: 15%;
}

.formulario__input[type="text"],
.formulario__input[type="number"],
.formulario__input[type="file"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-formulario);
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-fondo);
    outline: none;
    font-weight: 550;
}
.formulario__input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.formulario__botones{
    width: 80%;
    text-align: center;
}
.formulario__boton{
    border: 1px solid var(--color-formulario);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.boton-enviar{
    color: var(--color-nombre);
}
.boton-enviar:disabled{
    background-color: #216898bc;
    cursor:not-allowed;

}
.contacto__boton:enabled:hover{
    transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
}
.boton-reset{
    color: var(--color-formulario);
}
.signo{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--color-formulario);
    border-radius: 50%;
    color: var(--color-nombre);
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.formulario__info{
    font-size: .9rem;
    margin-bottom: 15px;
    font-weight: 550;
}

