
/*----------  Colores de la página  ----------*/
:root{
    --color-fondo: #1A1D23;
    --color-cabecera: #3498DB;
    --color-nombre: #fff;
    --color-basurero: rgb(209, 3, 3);
    --color-precio: #18722D;
}



/*----------  ESTILOS CABECERA  ----------*/
.cabecera{
    background-color: var(--color-cabecera);
    height: 80px;
}
.cabecera__nombre{
    font-family: "Spicy Rice", serif;
    color: var(--color-nombre);
    font-size: 2.3rem;
}




/*----------  ESTILOS PRODUCTOS  ----------*/
.productos{
    width: 50%;
    margin-left: 10px;
}
.productos__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-nombre);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.productos__contenedor{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc var(--color-fondo);
    box-shadow: -10px 5px 15px rgba(117, 117, 117, 0.2);
}
/* Scrollbar personalizado (para navegadores WebKit) */
.productos__contenedor::-webkit-scrollbar {
    width: 8px;
}
.productos-card {
    width: 200px;
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid var(--color-nombre);
    overflow: hidden;
    margin: 10px;
}
.productos-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.productos-card__info {
    padding: 15px;
    text-align: center;
}
.productos-card__nombre {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
}
.productos-card__precio {
    font-weight: bold;
    color: var(--color-precio);
    font-size: 20px;
}
.productos-card__trash {
    cursor: pointer;
    width: 20px;
}
