
/*----------  Colores de la página  ----------*/
:root{
    --color-fondo: #1A1D23;
    --color-cabecera: #3498DB;
    --color-nombre: #fff;
    --color-precio: #32CD32;
    --color-formulario: #0D1117;
    --color-card: #22252B;
    --color-botones: #76E2FF;
}

main{
    visibility: hidden;
}


/*----------  ESTILOS PRELOADER  ----------*/
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    transition: opacity 0.5s ease;
}
.preloader__puntos{
    position: absolute;
    left: 50%;
    top: 50%;
}
.preloader__punto{
    height: 2rem;
    width: 2rem;
    background-color: var(--color-nombre);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    animation: wave 2s ease-in-out infinite;
}
.preloader__punto:nth-child(1){
    left: -4.5em;
    animation-delay: 0s;
}
.preloader__punto:nth-child(2){
    left: -1.5em;
    animation-delay: 0.1s;
}
.preloader__punto:nth-child(3){
    left: 1.5em;
    animation-delay: 0.2s;
}
.preloader__punto:nth-child(4){
    left: 4.5em;
    animation-delay: 0.3s;
}

@keyframes wave{
    0%,
    75%,
    100%{
        transform: translateY(0) scale(1);
    }
    25%{
        transform: translateY(2.5em);
    }
    50%{
        transform: translateY(-2.5em) scale(1.1);
    }
}




/*----------  ESTILOS MENSAJE POPUP  ----------*/
.popup-mensaje {
    display: none;
    position: fixed;
    top: 95px;
    right: 280px;
    padding: 15px;
    background-color: #f8d7da; /* Fondo para mensaje de error */
    color: #721c24; /* Texto rojo para mensaje de error */
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s;
}

.popup-mensaje.exito {
    background-color: #d4edda; /* Fondo para mensaje de éxito */
    color: #155724; /* Texto verde para mensaje de éxito */
    border: 1px solid #c3e6cb;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




/*----------  ESTILOS CABECERA  ----------*/
.cabecera{
    background-color: var(--color-cabecera);
    height: 80px;
}
.logo__nombre{
    font-family: "Spicy Rice", serif;
    color: var(--color-nombre);
    font-size: 2.3rem;
}




/*----------  ESTILOS PRODUCTOS  ----------*/
.productos{
    width: 50%;
    margin-left: 10px;
}
.productos__mensaje{
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-nombre);
}
.productos__titulo, .formulario__titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-nombre);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.productos__contenedor{
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc var(--color-fondo);
}
/* Scrollbar personalizado (para navegadores WebKit) */
.productos__contenedor::-webkit-scrollbar {
    width: 8px;
}
.productos-card {
    width: 195px;
    height: 285px;
    background-color: var(--color-card);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid #555;
    overflow: hidden;
    margin: 10px;
}
.productos-card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.productos-card__info {
    padding: 20px;
    text-align: center;
    margin: auto 10px;
}
.productos-card__nombre {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--color-nombre);
}
.productos-card__precio {
    font-weight: bold;
    color: var(--color-precio);
    font-size: 20px;
}
.productos-card__trash {
    cursor: pointer;
    width: 20px;
}



/*----------  ESTILOS FORMULARIO  ----------*/
.formulario{
    width: 50%;
}

.formulario__producto{
    background-color: var(--color-formulario); 
    width: 80%;
    height: 420px;
    border-radius: 15px;
}

.formulario__campo{
    display: block;
    margin-bottom: 5px;
    color: var(--color-nombre);
    font-weight: bold;
    margin-left: 15%;
}

.formulario__input[type="text"],
.formulario__input[type="number"],
.formulario__input[type="file"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-botones);
    border-radius: 4px;
    background-color: transparent;
    color: var(--color-nombre);
    outline: none;
    font-weight: 550;
}
.formulario__input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
.formulario__botones{
    width: 80%;
    text-align: center;
}
.formulario__boton{
    border: 1px solid var(--color-botones);
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
#boton-enviar{
    color: var(--color-formulario);
}
#boton-enviar:disabled{
    background-color: #b9ecfa;
    cursor:not-allowed;

}
#boton-enviar:enabled{
    transition: background-color .5s ease-in-out;
    background-color: var(--color-botones);
    color: var(--color-formulario);
}
.boton-reset{
    color: var(--color-botones);
}
.signo{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--color-botones);
    border-radius: 50%;
    color: var(--color-formulario);
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
}

.formulario__info{
    font-size: .9rem;
    margin-bottom: 15px;
    font-weight: 550;
    color: var(--color-nombre);
}



/*----------  FOOTER  ----------*/
.rodapie{
    background-color: var(--color-cabecera);
    height: 150px;
    margin-top: 100px;
}
.rodapie__autor, .rodapie__empresa{
    font-size: .9rem;
    color: var(--color-nombre);
    font-weight: 550;
}




/*----------  MODAL  ----------*/
/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background-color: #1A1D23;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #F0F0F0;
}

.btn-confirmar {
    background-color: #f72c1e;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: var(--color-precio);
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}






/*=============================================
=            Tablet            =
=============================================*/

@media (max-width:1024px) and (min-width: 768px){

    .productos-card{
        width: 175px;
    }
    .productos-card__precio{
        font-size: 1.1rem;
    }
    .rodapie{
        margin-top: auto;
    }
    .productos-card{
        width: 160px;
        height: 260px;
    }
    .productos-card__precio{
        font-size: 1rem;
    }
    .productos-card__nombre{
        height: 30px;
    }
}


/*=====  End of Tablet  ======*/




/*=============================================
=            MOVIL            =
=============================================*/

@media (max-width:480px) and (min-width: 320px){

    main{
        display: flex;
        flex-direction: column-reverse;
    }
    .popup-mensaje{
        right: 180px;
    }
    .formulario{
        width: 100%;
    }.formulario__producto{
        width: 100%;
    }
    .productos{
        width: 100%;
        margin-top: 100px;
    }
    .productos-card{
        width: 160px;
    }
    .productos-card__precio{
        font-size: .9rem;
    }
    .productos-card__nombre{
        height: 40px;
    }
}


/*=====  End of MOVIL  ======*/